.CarList{
  height: 100vh;
}
.car-card-button{
  @apply .pin-r .py-4 .mt-4  .text-grey .border-1 .border-grey .outline-0 .rounded-sm;
  transition: all 0.15s ease-in-out;
  &.active{
  	@apply .text-white .bg-green-light .shadow-green .text-white .outline-0 .border-0;
  	color: white !important;
  }
  &.active:hover{
  	@apply .text-white .bg-green .shadow-green .text-white .outline-0 .border-0;
  }
}
.car-card-button:hover{
  @apply .bg-blue .shadow-blue .text-white .outline-0 .border-0;

}
.car-card{
  @apply .mx-auto .p-8 .mb-8 .bg-white .shadow .rounded ;
  // height: 24rem;
  transform: scale(0.95);
  transition: all 0.2s ease-in;
  // &
  img{
    pointer-events: none;
  }
  &.expanded{
  }
}
.car-card:hover{
	@apply .shadow-custom-grey;
	transform: scale(1);
	transition: all 0.2s ease-in;
	// box-shadow: 0 17px 24px -5px rgba(194,194,194,0.51);
}
