/*
	Overrides
*/
.outline-0{
	outline: 0;
}
button{
	outline:0, !important;
}
button:focus, button:hover{
	outline:0 !important;
}

.-z-1{
	z-index: -1;
}
.top-1{
	top: 1rem;
}
.top-1\/3{
	top: 33.33%;
}
.top-1\/4{
	top: 25%;
}
.top-1\/6{
	top: 16.66%;
}
/* ---------------------------------
|
| Gradients
|---------------------------------
*/

.black-gradient{
	background: #222222;
}
.stone-gradient{
    background: linear-gradient(0deg, rgba(188,168,124,0.40) 1%, rgba(255,255,255,0.00) 33%);
		&.thick{
			background-image: radial-gradient(52% 96%, rgba(250,245,245,0.05) 57%, rgba(255,255,255,0.50) 97%),linear-gradient(0deg, rgba(188,168,124,0.40) 1%, rgba(255,255,255,0.00) 64%);
		}
}
/* .white-gradient{
    background: radial-gradient(ellipse at center, #FFFFFF 1%, rgba(255,255,255,0.84) 23%, rgba(255,255,255,0.00) 61%);
} */
.purple-gradient{
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
}
.white-gradient{
	/* background: radial-gradient(circle at center, rgba(255,255,255,0.2), rgba(255,255,255, 0.75)50%); */
	background: radial-gradient(circle at center, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75) 90%)
}

/*
	Backgrounds
 */
 .dimmer-bg{
	 background:rgba(0,0,0,0.75);
 }
