.destination-input{
  // background: black;
  /* Mask: */
  box-shadow: 0 11px 19px 0 rgba(0,0,0,0.10);
  border-radius: 0.25rem;
  .time-picker{
    // border
  }
  .time-picker::before{
    display: inline-block;
    height: 100px;
    margin-top: 10%;
    width: 1px;
    background: grey;

  }
}

.destination-dot{
  top: 30%;
  left: 1.05rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100px;
  background: #E282F5;
  &.pickup{
    background: #7D0EDE;
    box-shadow: 0 6px 8px -3px rgba(#7D0EDE,0.7);
  }
  &.middle{
    background: black;
    // box-shadow: 0 6px 8px -3px rgba(#7D0EDE,0.7);
  }
  &.final{
    background: #AA0BCA;
    box-shadow: 0 6px 8px -3px rgba(154,73,201,0.70);
  }
  &.start{

  }
  &.end{

  }
}
