@font-face {
  font-family: 'Chromatica';
  src: url('/assets/fonts/Chromatica-Thin.eot');
  src: url('/assets/fonts/Chromatica-Thin.woff2') format('woff2'),
       url('/assets/fonts/Chromatica-Thin.woff') format('woff'),
       url('/assets/fonts/Chromatica-Thin.ttf') format('truetype'),
       url('/assets/fonts/Chromatica-Thin.svg#Chromatica-Thin') format('svg'),
       url('/assets/fonts/Chromatica-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: 'Chromatica';
  src: url('/assets/fonts/Chromatica-Black.eot');
  src: url('/assets/fonts/Chromatica-Black.woff2') format('woff2'),
       url('/assets/fonts/Chromatica-Black.woff') format('woff'),
       url('/assets/fonts/Chromatica-Black.ttf') format('truetype'),
       url('/assets/fonts/Chromatica-Black.svg#Chromatica-Thin') format('svg'),
       url('/assets/fonts/Chromatica-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Chromatica';
  src: url('/assets/fonts/Chromatica-Regular.eot');
  src: url('/assets/fonts/Chromatica-Regular.woff2') format('woff2'),
       url('/assets/fonts/Chromatica-Regular.woff') format('woff'),
       url('/assets/fonts/Chromatica-Regular.ttf') format('truetype'),
       url('/assets/fonts/Chromatica-Regular.svg#Chromatica-Thin') format('svg'),
       url('/assets/fonts/Chromatica-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Chromatica';
  src: url('/assets/fonts/Chromatica-Medium.eot');
  src: url('/assets/fonts/Chromatica-Medium.woff2') format('woff2'),
       url('/assets/fonts/Chromatica-Medium.woff') format('woff'),
       url('/assets/fonts/Chromatica-Medium.ttf') format('truetype'),
       url('/assets/fonts/Chromatica-Medium.svg#Chromatica-Thin') format('svg'),
       url('/assets/fonts/Chromatica-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Chromatica';
  src: url('/assets/fonts/Chromatica-Light.eot');
  src: url('/assets/fonts/Chromatica-Light.woff2') format('woff2'),
       url('/assets/fonts/Chromatica-Light.woff') format('woff'),
       url('/assets/fonts/Chromatica-Light.ttf') format('truetype'),
       url('/assets/fonts/Chromatica-Light.svg#Chromatica-Thin') format('svg'),
       url('/assets/fonts/Chromatica-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
