.react-datepicker__time-list{
  padding: 0 !important;
}
.react-datepicker__input-container{
  input{
    background: transparent;
    color: grey;
    border: 0;
    outline: 0;
    padding: 0.25rem 0;
    font-weight: bold;
  }
}
// .SingleDatePicker{
//   input{
//     background: transparent !important;
//     @apply .text-grey;
//   }
// }
// .DateInput_input, .DateInput_input_1, .DateInput_input__focused, .DateInput_input__focused_2{
//   background: transparent !important;
//   background-color: none;
//   @apply .text-grey;
// }
//
// .CalendarDay__highlighted_calendar {
//   background: #000;
//   color: #186A3B;
// }
//
// .CalendarDay__highlighted_calendar:hover {
//   background: #000;
//   color: #186A3B;
// }
//
// .CalendarDay__highlighted_calendar:active {
//   background: #58D68D;
//   color: #186A3B;
// }
// .DateInput_input__focused{
//   border-bottom: 2px solid black;
// }
//
// .CalendarDay{
//     border-radius: 100px;
//
// }
// .CalendarDay__default{
//   border: 0;
//   border-radius: 100px;
// }
// .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover{
//   background: #DD49FC;
// }
// .CalendarDay__selected{
//   border-radius: 0;
//   background: #DD49FC;
// }
// .CalendarDay__selected_span{
//   border-radius: 0;
//   background: #DD49FC;
// }
// .CalendarDay__selected_start{
//     border-radius: 50px 0 0 50px;
// }
// .CalendarDay__selected_end{
//   border-radius: 0 50px 50px 0;
// }
