.side-pane{
	@apply .min-h-screen .pin-r .pin-t .black-gradient .w-1/3 .block;
}
.DateRangePicker{
	pointer-events: auto;
}
.SingleDatePicker{
	pointer-events: auto;
}
@media screen and (max-width: 400px) {
	.map-holder{
		@apply .w-screen;
	}
	.side-pane{
		@apply .min-h-screen .pin-r .pin-t .bg-transparent .w-screen .block .absolute;
		z-index: 50;
		pointer-events: none;
		.text-white{
			color: black;
		}
		.trip-type{
			@apply .self-end;
		}
	}
	.stone-gradient{
		/* stone-gradient-mask copy: */
		background-image: radial-gradient(52% 96%, rgba(250,245,245,0.00) 57%, rgba(255,255,255,0.90) 97%);
		background-image: linear-gradient(0deg, rgba(188,168,124,0.40) 1%, rgba(255,255,255,0.00) 64%);
	}
}

@media screen and (max-width: 700px) {
	.map-holder{
		@apply .w-screen;
	}
	.side-pane{
		@apply .min-h-screen .pin-r .pin-t .bg-transparent .w-screen .block .absolute .justify-center;
		z-index: 50;
		pointer-events: none;
		.text-white{
			color: black;
		}
		.trip-type{
			@apply .self-end;
		}
	}
}

@media screen and (max-width: 1100px){
	.map-holder{
		@apply .w-screen;
	}
	.side-pane{
		@apply .min-h-screen .pin-r .pin-t .bg-transparent .w-screen .block .absolute .justify-center;
		z-index: 50;
		pointer-events: none;
		.text-white{
			color: black;
		}
		.trip-type{
			@apply .self-end;
		}
	}
}
